/* Penser aux webkit & co */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* Sroll smoot basique
    html{
    scroll-behavior: smooth;
} */

body {
    font-size: 100%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Almarai', Helvetica, Arial, sans-serif;
    font-weight: 800;
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 400;
}

li {
    list-style: none;
}

figure {
    margin: 0;
}

figure img {
    position: relative;
}

figure figcaption {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.8em;
}

#start, #work, #about, #contact {
    margin-left: 2em;
    margin-right: 2em;
}

#menu-desktop {
    display: none;
}

#start {
    height: 100vh;
    
}

#start span {
    display: block;
}

#title {
    padding-top: 5em;
}

#line1, #line2, #line3, #line4 {
    animation-duration: 2s;
    animation-name: slidein;
}

.modalWork {
    width: 70vw;
    height: 80%;
}

/* ---------- Library ---------- */

/* Masonry */

.grid-item {
    width: 25%;
    padding: 5px;
}

.grid-item--width2 {
    width: 50%;
}

/* Fancybox */

#hidden-content {
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;
    
}


/* ---------- Animations ---------- */

@keyframes slidein {
    from {
        margin-left: -180%;
    }

    to {
        margin-left: 0%;
    }
}

/* ---------- Media Queries ---------- */

/* Par défaut mobil portrait */

/* ~544px pour 16px de font-size par défaut
Petits ecrans: mobile paysage */
@media(min-width: 34em){
    .grid-item, .grid-sizer {
        width: calc(100% / 2);
    }
}

/* ~768px pour 16px de font-size par défaut
Ecrans moyens: tablette */
@media(min-width: 48em){    
    main {
        margin-left: 10em;
    }

    nav {
        position: relative;
    }

    #menu-desktop {
        display: block;
        background-color: white;
        border-right: black solid 2px;
        height: 100%;
        width: 10em;
        padding-left: 1em;
        overflow: hidden;
        position: fixed;
    
    }    

    #title {
        padding-top: 10em;
    }    

    .grid-item, .grid-sizer {
        width: calc(100% / 2);
    }
}

/* ~992px pour 16px de font-size par défaut
Ecrans larges: desktop */
@media(min-width: 62em){

    h1 {
        font-size: 6em;
    }

    #title {
        padding-top: 5em;
    }
    
    .grid-item, .grid-sizer {
        width: calc(100% / 3);
    }
}

/* ~1200px pour 16px de font-size par défaut
Ecrans très large: desktop large */
@media(min-width: 75em){

    h1 {
        font-size: 8em;
    }

    #title {
        padding-top: 1em;
    }
    .grid-item, .grid-sizer {
        width: calc(100% / 4);
    }
}

/* ---------- CSS accessibilité ---------- */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}