/* Penser aux webkit & co */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* Sroll smoot basique
    html{
    scroll-behavior: smooth;
} */

body {
    font-size: 100%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    position: relative;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Almarai', Helvetica, Arial, sans-serif;
    font-weight: 700;
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 400;
}

li {
    list-style: none;
}

main {
    margin-left: 10em;
}

#menu {
    background-color: white;
    border-right: black solid 2px;
    height: 100%;
    width: 10em;
    padding-left: 1em;
    overflow: hidden;
    position: fixed;

}

#start, #work, #about, #contact {
    margin-left: 2em;
    margin-right: 2em;
}

#start {
    height: 100vh;
    
}

#start span {
    display: block;
}

#title {
    padding-top: 15em;
}

.line1, .line2 {
    animation-duration: 2s;
    animation-name: slidein;
}

/* Library */

/* Masonry */

.grid-item, .grid-sizer {
    width: 100%;
    padding: 5px;
}

@media (min-width: 768px) {
    .grid-item, .grid-sizer {
        width: calc(100% / 3);
    }
}

/* Animations */

@keyframes slidein {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}

/* CSS accessibilité */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}