/* Penser aux webkit & co */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* Sroll smoot basique
    html{
    scroll-behavior: smooth;
} */


body {
    font-size: 100%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Almarai', Helvetica, Arial, sans-serif;
    font-weight: 800;
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 400;
}

h4:first-child {
    margin: 0;
    padding-right: 5px;
}

a {
    color: grey;
}

a:hover {
    font-weight: bold;
    text-decoration: none;

}

li {
    list-style: none;
}

figure {
    margin: 0;
    position: relative;
}

figure figcaption, .modalTitle, .modalSkills {
    color: white;
    align-items: flex-end;
    margin-bottom: 0.8em;;
}

figure figcaption, .modalSkills {
    font-size: 0.8em;
}

.modalSkills {
    margin-bottom: 0em;
}

#start_section, #work_section, #skills_section, #about_section, #contact_section {
    min-height: 100vh;
    margin-left: 2em;
    margin-right: 2em;
}

#menu-desktop {
    display: none;
}

#start_section span {
    display: block;
}

#title {
    padding-top: 5em;
}

#line1, #line2, #line3, #line4 {
    animation-duration: 2s;
    animation-name: slidein;
}

#contact_section {
    display: flex;
    margin-right: 0em;
}

#contact_form {
    width: 35%;
}

.modalWork {
    width: 70vw;
    height: 80%;
}

.workTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.8);
}

.plus {
    display: block;
    margin: auto;
}

.arrow {
    background-color: white;
    margin: -8px 0px;
    padding: 0px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.arrow i {
    padding: 0px;
    text-align: center;
}

#map {
    min-height: 100vh;
    width: 65%;
    margin-left: 2em;
    margin-right: 0em;
    position: relative;
}

.box_fixed {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 2em;
    left: 2em;
    z-index: 10;
    padding: 1em;
}

.box_fixed p {
    margin: 0;
}


/* ---------- Library ---------- */

/* Masonry */

.grid-item {
    width: 100%;
    padding: 0px;
}

.grid-item--width2 {
    width: 50%;
}

/* Fancybox */

.fancybox-slide--html .fancybox-close-small {
    color:white;
    background-color: rgba(128, 128, 128, 0.8);
}

.fancybox-content {
    overflow: hidden;
}

/* Leaflet */

#mapid {
    min-height: 100vh;
    z-index: 0;
}

/* ---------- Animations ---------- */

@keyframes slidein {
    from {
        margin-left: -180%;
    }

    to {
        margin-left: 0%;
    }
}

/* ---------- Media Queries ---------- */

/* Par défaut mobil portrait */

/* ~544px pour 16px de font-size par défaut
Petits ecrans: mobile paysage */
@media(min-width: 34em){
    .grid-item, .grid-sizer {
        width: calc(100% / 2);
    }
}

/* ~768px pour 16px de font-size par défaut
Ecrans moyens: tablette */
@media(min-width: 48em){    
    main {
        margin-left: 10em;
    }

    nav {
        position: relative;
    }

    #menu-desktop {
        display: block;
        background-color: black;
        border-right: black solid 2px;
        height: 100%;
        width: 10em;
        padding-left: 1em;
        overflow: hidden;
        position: fixed;
        color: white;
    }

    #menu-desktop a{
        color: grey;
    }

    #menu-desktop a:hover{
        font-weight: 600;
        text-decoration: none;
    }


    #title {
        padding-top: 10em;
    }    

    .grid-item, .grid-sizer {
        width: calc(100% / 2);
    }
    
    .workTitle:first-child {
        margin: 0;
        padding-right: 15px;
    }    

    .arrow {
        font-size: 1.5rem;
    }    
}

/* ~992px pour 16px de font-size par défaut
Ecrans larges: desktop */
@media(min-width: 62em){

    h1 {
        font-size: 6em;
    }

    #title {
        padding-top: 5em;
    }
    
    .grid-item, .grid-sizer {
        width: calc(100% / 3);
    }
}

/* ~1200px pour 16px de font-size par défaut
Ecrans très large: desktop large */
@media(min-width: 75em){

    h1 {
        font-size: 8em;
    }

    #title {
        padding-top: 1em;
    }
    .grid-item, .grid-sizer {
        width: calc(100% / 4);
    }
}

/* ---------- CSS accessibilité ---------- */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}