/* Penser aux webkit & co */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    position: relative;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Almarai', Helvetica, Arial, sans-serif;
    font-weight: 700;
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: 700;
}

h2 {
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 400;
}

li {
    list-style: none;
}

#menu {
    background-color: white;
    border-right: black solid 2px;
    height: 100%;
    width: 10em;
    padding-left: 1em;
    overflow: hidden;
    position: fixed;

}

#intro {
    height: 100vh;
    margin-left: 10em;
    overflow: hidden;
    
}

#intro span {
    display: block;
}

#title {
    height: 100%;
    padding-top: 15em;
    padding-left: 2em;
}

.line1, .line2 {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}